{% include 'header.html' %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="card bg-light border-dark m-3">
    <div class="card-header">
        <h5 class="card-title">Editar Membresía</h5>
    </div>
</div>
<form method="post" action="/update" enctype="multipart/form-data">
    <div class="card bg-light m-3">
        <div class="card-header">
            <h5 class="card-title">Datos de la Membresía</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <input type="hidden" value="{{ membership[0] }}" name="txtID" id="txtID">
                <div class="row pt-3">
                    <div class="col-3">
                        <img class="rounded mx-auto d-block" width="120"
                             src="{{ url_for('uploads', pictureFileName=membership[11]) }}" alt="">
                    </div>
                    <div class="col-6">
                        <div class="col">
                            <div class="form-group">
                                <label for="txtFirstName">Nombre: *</label>
                                <input id="txtFirstName" value="{{ membership[1] }}" class="form-control" type="text"
                                       name="txtFirstName">
                            </div>
                        </div>
                        <div class="col pt-3">
                            <div class="form-group">
                                <label for="txtLastName">Apellido: *</label>
                                <input id="txtLastName" value="{{ membership[2] }}" class="form-control" type="text"
                                       name="txtLastName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 pt-3">
                    <div class="form-group">
                        <label for="txtDni">DNI: *</label>
                        <input id="txtDni" value="{{ membership[3] }}" class="form-control" type="number" name="txtDni">
                    </div>
                </div>
                <div class="col-8 pt-3">
                    <div class="form-group">
                        <label for="txtAddress">Dirección:</label>
                        <input id="txtAddress" value="{{ membership[4] }}" class="form-control" type="text"
                               name="txtAddress">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtCity">Ciudad:</label>
                            <input id="txtCity" value="{{ membership[5] }}" class="form-control" type="text" name="txtCity">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="txtCountry">País:</label>
                            <input id="txtCountry" value="{{ membership[6] }}" class="form-control" type="text"
                                   name="txtCountry">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="txtProvince">Provincia:</label>
                            <input id="txtProvince" value="{{ membership[7] }}" class="form-control" type="text"
                                   name="txtProvince">
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="txtPostalCode">Código Postal:</label>
                            <input id="txtPostalCode" value="{{ membership[8] }}" class="form-control" type="text"
                                   name="txtPostalCode">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="txtPhone">Teléfono:</label>
                            <input id="txtPhone" value="{{ membership[9] }}" class="form-control" type="number"
                                   name="txtPhone">
                        </div>
                    </div>
                </div>
                <div class="col-8 pt-3">
                    <div class="form-group ">
                        <label for="txtEmail">Correo: *</label>
                        <input id="txtEmail" value="{{ membership[10] }}" class="form-control" type="email" name="txtEmail">
                    </div>
                </div>
                <div class="col-8 pt-3">
                    <div class="form-group ">
                        <label for="txtPicture">Foto de Pérfil: *</label>
                        <input id="txtPicture" class="form-control" type="file" name="txtPicture">
                    </div>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="radio" name="radioPay" value="Pagar con tarjeta de crédito"
                           id="radioPayCreditCard">
                    <label class="form-check-label" for="radioPayCreditCard">
                        Pagar con tarjeta de crédito
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="radio" name="radioPay" value="Pagar en efectivo" id="radioPayCash"
                           checked>
                    <label class="form-check-label" for="radioPayCash">
                        Pagar en efectivo
                    </label>
                </div>
            </p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-2 offset-1">
                    <button type="submit" class="btn btn-success">Modificar</button>
                </div>
                <div class="col-2 offset-7">
                    <button onclick="{{ url_for('index') }}" class="btn btn-primary">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'footer.html' %}